/*****/
#ascrail2000-hr
{
    display: none !important;
}
.inner-top-search-list li a
{
    pointer-events: none!important;
}
footer#Footer .column.one-fourth:nth-child(1) {
    width: 40% !important;
}
footer#Footer .column.one-fourth:nth-child(2), footer#Footer .column.one-fourth:nth-child(3) {
    width: 26% !important;
}
.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    height: 76px;
    z-index: 701;
    background: #fff;
    /* opacity: 1; */
    filter: alpha(opacity = 97);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}
.fixed .nav-bar li a{
  padding: 27px 20px;
}

li.phone {
    display: none!important;
}
aside#text-4 {
    display: none;
}
.top-search-list li:last-child a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 10px 12px;
    font-family: robotomedium;
    background-color: #3663da;
}
body{
    overflow-x:hidden;
}
li.phone
{
    display: none!important;
}
.loader-inner
{
        height: 100%;
    position: relative;
    top: 50%;
    
}
 .loader-overlay
 {
    width: 100%;
    text-align: center;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
    background: #fff;
    top: 0px;
    font-size: 15px;
    right: 0;
    left: 0;
    bottom: 0;
}
/*.top-search-list li:last-child:hover
{
    background-color: #000;
}*/
select::-ms-expand {
    display: none;
}
select
{
   -webkit-appearance: none;
   -ms-appearance: none;
   -moz-appearance: none;
}
.dropdown:before
{
    pointer-events: none;
}
#Action_bar, .header-fixed #Action_bar, .header-plain #Action_bar, .header-split #Action_bar,
.header-stack #Action_bar
{
    background-color: #0c0d15;
}
.container
{
    max-width:1230px;
    margin: 0 auto;
    position: relative;
}
select{
    border: 1px solid #bcbcbc;
    box-shadow: 0 0 0 0;
}
#Action_bar {

    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    line-height: 21px;
}
#Action_bar .column
{
    margin-bottom: 0;
    overflow: hidden;
}
#Action_bar .contact_details
{
    color: #bbbbbb;
    float: left;
    margin: 0;
}
#Action_bar .contact_details li a:hover {
    color: #ccc;
    text-decoration: underline;
}
.action-bar li a:hover 
{
    text-decoration: underline;
}
ul {
    list-style: none outside;
}
#Action_bar .contact_details li
{
    display: inline-block;
    margin-right: 10px;
    padding: 12px 0;
    font-size: 18px;
    font-family: robotoregular;
}
#Action_bar li {
    color: #ffffff!important;
}
#Action_bar .contact_details li:last-child {
    margin-right: 0;
}
#Action_bar .contact_details a {
    color: #ffffff;
    font-size: 18px;
    font-family: robotoregular;
}
a, a:visited, a:focus {
    text-decoration: none;
    outline: 0;
}
#Action_bar .contact_details li > i {
    margin-right: 2px;
}
.icon-phone:before {
    content: '\e8f4';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.icon-mail-line:before {
    content: '\e8d1';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
/*******/



/**********/
.one.column {
    width: 98%;
}
#Subheader {
    padding: 70px 0 70px;
    background-image: url(../css/images/how-it-works.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
#Subheader .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #ffffff;
    margin-bottom: 0;
    margin: 0;
    float: left;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    left: 50%;
    font-size: 23px;
    font-family: robotoregular;

}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#Subheader:after {
    content: "";
    height: 3px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    z-index: 1;
}
/**********/

/**********/

.top-header {
    width: 100%;


}

.header-logo {
    float: left;
    width: 36%;
    padding:10px 0;
}
.header-logo img {
    height: 60px;
    padding-left: 60px;
}
.nav-bar {
    width: 50%;
    float: left;
}
.nav-bar i
{
    display: none;
}
.nav-bar button
{
    display: none;
}
.nav-bar ul {
    margin:0;
    width: 100%;
    float: left;
}
.nav-bar li {
    display: inline-block;
    float: left;
}
.nav-bar li:after {
    content: "";
    position: absolute;
    height: 51px;
    background-color: #f3f3f3;
    width: 2px;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.nav-bar li:last-child:after
{
    display: none;
}

.nav-bar li a {
    display: inline-block;
    float: left;
    font-size: 16px;
    font-family: robotomedium;
    color: #243d92;
    padding: 32px 20px;
    letter-spacing: 1.3px;
    font-weight: bold;
    position: relative;
}
.nav-bar li a:hover {

    display: inline-block;
    color:#5d76ca;

}
.nav-bar li a:hover:after
{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color:#5d76ca;
    left: 0;
    bottom: 0; 
}
.menu-icon
{
    display: none;
}
.header-button {
    padding-top: 20px;
    width: 14%;
    float: left;
}
.header-button a {
    background-color: #3663da;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-family: robotoregular;
}
.top-search-list li:last-child
{
    cursor: pointer;
}
/***********/


/**********/
#Footer {
    background-color: #1f2033;
}
#Footer .widget_recent_entries ul li a {
    color: #c1cad7;
}
#Footer {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}
#Footer a:hover {
    color: #ccc;
}
.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#Footer .widgets_wrapper {
    padding: 15px 0;
}
.section_wrapper, .container {
    max-width:1230px;
    margin: 0 auto;
    position: relative;
}
#Footer .widgets_wrapper .column {
    margin-bottom: 0;
}
.image_wrapper
{
    margin-top: 25px;
}
aside#nav_menu-2 li a:hover
{
    text-decoration: underline;
}
aside#text-3 li a:hover
{
    text-decoration: underline;
}
.one-fourth.column, .four.columns {
    width: 30%;
}
.column, .columns {
    margin: 0 1% 0px;
}
.column, .columns {
    float: left;
    margin: 0 1% 40px;
}
#Footer .widgets_wrapper .widget {
    padding: 15px 0;
    margin-bottom: 0;
}
.widget:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}
.image_frame.no_border {
    border-width: 0;
}
.image_frame {
    border-color: #f8f8f8;
}
.image_frame, .wp-caption {
    display: block;
    margin: 0;
    border-width: 8px;
    border-style: solid;
    max-width: 100%;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
    border-color: #e2e2e2;
}
.image_frame .image_wrapper {
    position: relative;
    overflow: hidden;
}
.image_frame .image_wrapper, .wp-caption img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.image_wrapper img:not(.ls-l) {
    position: relative;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
img.scale-with-grid, #Content img {
    max-width: 100%;
    height: auto;
}
hr.no_line {
    background: none;
    color: transparent;
}
hr {
    background-color: rgba(0,0,0,.08);
    color: rgba(0,0,0,.08);
}
hr, .hr_wide, .hr_zigzag, .hr_dots {
    margin: 0 auto 15px;
    clear: both;
}
hr {
    display: block;
    border: none;
    outline: none;
    height: 1px;
    width: 100%;
    margin: 0 auto 15px;
    clear: both;
}
.textwidget p {
    margin: 0 0 15px;
    color: #c1cad7;
}
.widget h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 15px;
    color: #ffffff;
}
.widget_archive ul li, .widget_nav_menu ul li {
    position: relative;
    list-style-type: square;
}
.textwidget i:hover {
    color: #ccc;
}
li {
    color: #333333;
}

#Footer a {
    color: #a0adc1;
    font-size: 16px;
    font-family: robotoregular;
}
.textwidget i {
    font-size: 24px;
}
.widget_archive ul li a, .widget_nav_menu ul li a {
    display: block;
    padding: 8px 0 9px 3px;
}

a {
    color: #243d92;
}
.widget_archive ul li:after, .widget_nav_menu ul li:after {
    content: "";
    display: block;
    width: 70px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    position: absolute;
    left: -30px;
    bottom: 0;
    border-color: rgba(255,255,255,.08);
}
.widget_archive ul li a, .widget_nav_menu ul li a {
    display: block;
    padding: 8px 0 9px 3px;
}
.textwidget h6 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 22px 0
}
h5, h6 {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}
.textwidget p {
    margin: 0 0 15px;
    font-size: 24px;
    line-height:25px;
    font-family: robotomedium;
    font-size: 15px!important;

}
.textwidget
{
    color: #ffffff;  
}
.textwidget ul {
    padding-left: 0;
}
em, i {
    font-style: italic;
}
.icon-facebook-circled:before {
    content: '\f30d';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.icon-gplus-circled:before {
    content: '\f059';
}
.icon-twitter-circled:before {
    content: '\f30a';
}
.icon-pinterest-circled:before {
    content: '\f313';
}
.icon-linkedin-circled:before {
    content: '\f319';
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.footer-copy-center #Footer .footer_copy {
    text-align: center;
}
#Footer .footer_copy {
    border-top: 1px solid rgba(255,255,255,.1);
}
#Footer .footer_copy .one {

    padding-top: 30px;
    min-height: 33px;
}
.one.column {
    width: 98%;
    margin: 0;
}
.column, .columns {
    margin: 0 1% 0px;
}
.column, .columns {
    float: left;
    margin: 0 1% 40px;
}
.footer-copy-center #Footer .footer_copy .copyright {
    float: none;
    margin: 0 0 10px;
}
#Footer .footer_copy .copyright {

    text-align: center;
    text-align: center;
    font-size: 13px;
    font-family: robotomedium;
}
#Footer .widgets_wrapper {
    padding: 50px 0;
}
#Footer, #Footer .widget_recent_entries ul li a {
    color: #c1cad7;
}
.footer-copy-center #Footer .footer_copy .social {
    float: none;
    margin: 0;
}
#Footer .footer_copy .social {
    float: right;
    margin-right: 20px;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/***********/

input[type="submit"]:hover {
    background-color: #044a9d;
}
.header-button a:hover{
    background-color: #0c0e15;
}

/*.top-search-list a:hover
{
    background-color: #0c0e15;
}*/
#Footer ul#menu-main-menu-1 {
    background-color: #1c1e31;
}
.forgot-pass label.checkbox-div {
    padding-right: 0;
}
.dropdown:before
{
    font: normal normal normal 23px/1 FontAwesome; 
}
select {
    font-size: 12px !important;
}
/**********responsive****/
@media only screen and (min-width: 1199px)
{
    ul.contact_details
    {
           padding: 0px 0px 0px 20px;
    }
    .header-logo img
    {
        padding-left: 7px!important;
        height: 58px!important;
    }
}
@media only screen and (max-width: 1199px)
{
    .header-logo
    {
        width: 26%;
    }
    .nav-bar
    {
        width: 57%;
    }
    .header-button
    {
        width: 17%;
    }
    #Footer .widgets_wrapper
    {
        padding: 50px 15px;
    }
}
@media only screen and (max-width: 1024px)
{
    .header-logo
    {
        width: 24%;
    }
    .nav-bar
    {
        width: 59%;
    }
    .header-button
    {
        width: 17%;
    }
    #Footer .widgets_wrapper
    {
        padding: 50px 15px;
    }
}
@media only screen and (max-width: 991px)
{
    .top-search-list {
    text-align: center;
}
.top-search-list a
{
    float: none;
    display: inline-block;
}
    .container
    {
        width: 100%;
        padding: 0;
    }
    .header-logo
    {
       width: 100%;
    text-align: center;
    
    }
    .header-logo img
    {
        padding-left: 0;
    }
     .nav-bar {
    
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}
.nav-bar.active-menu {
    display: block;
}
.menu-icon
{
    display: block;
    position:absolute;
    cursor: pointer;
}
.menu-icon button
{
    position: relative;
    display: none;
}
.menu-icon i:before
{
   
    content: "\f0c9";
    font: normal normal normal 18px/1 FontAwesome;
    position: absolute;
    top: 38%;
    bottom: 0;
    left: 35px;
    cursor: pointer;
}
.nav-bar ul li
{
    width: 100%;
    background-color: #f3f3f3;
    
    border-bottom: 1px solid #ccc;
}
.nav-bar li a {
    font-size: 17px;
    padding: 22px 12px;
    display: block;
}
.nav-bar li:after
{
    display: none;
}
.header-button {
   position: absolute;
   right: 0;
}
.nav-bar ul
{
    padding: 0;
}
.header-button a
    {
        font-size: 11px;
    }
.menu-icon button {
    font-size: 20px;
    position: relative;
}
.menu-icon i:before
{
    z-index: 999;
    top: 35px;
}
    .menu-icon button {
        font-size: 20px;
        position: relative;
    }
    .menu-icon i:before
    {
        z-index: 999;
    }
    .one-fourth.column, .four.columns {
        width: 50%;
        float: left;
        padding: 0 25px;
        box-sizing: border-box;
    }
    .column, .columns {
        float: left;
        margin: 0;
    }
    .textwidget p
    {
        font-size: 17px;
    }
    #Footer a
    {
        font-size: 14px;
    }
    .widget h4 {
    font-size: 16px;
}
    .textwidget h6
    {
        font-size: 22px;
    }
    .textwidget i
    {
        font-size: 30px;
    }

}

@media only screen and (max-width: 767px)
{
    ul.contact_details
{
    display: none;
}
    .container
    {
        width: 100%;
        padding:0;
    }
    
     .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}

.nav-bar ul
{
    padding: 0;
}
.menu-icon button
{
    position: relative;
    display: none;
}
.menu-icon i:before
{
   
    content: "\f0c9";
    font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 35px;
    cursor: pointer;
}
.nav-bar ul li
{
    width: 100%;
    background-color: #f3f3f3;
    
    border-bottom: 1px solid #ccc;
}
.nav-bar li a {
    font-size: 17px;
    padding: 22px 12px;
    display: block;
    width: 100%;
}
.nav-bar li:after
{
    display: none;
}
 .header-button
    {
        width: 24%;
    }

.header-button a
    {
        font-size: 14px;
    }
.menu-icon button {
    font-size: 20px;
    position: relative;
}
.menu-icon i:before
{
    z-index: 999;
}
    
    .top-search-list
    {
        text-align: center;
    }
    .dummy-name a:before
    {
            content: "";
    position: absolute;
    width: 29px;
    height: 30px;
    left: 2px;
    top: 19px;
    background-image: url(../css/images/dashboard.svg);
    background-repeat: no-repeat;

    }
    footer#Footer .column.one-fourth:nth-child(1) {
    width: 100% !important;
    /* float: left; */
}
footer#Footer .column.one-fourth:nth-child(2), footer#Footer .column.one-fourth:nth-child(3) {
    width: 100% !important;
}
    
}
@media only screen and (max-width: 640px)
{
   .container
    {
        width: 100%;
        padding: 0;
    }
    

.menu-icon button
{
    position: relative;
    display: none;
}

.nav-bar ul li
{
    width: 100%;
    background-color: #f3f3f3;
    
    border-bottom: 1px solid #ccc;
}
.nav-bar li a {
    font-size: 17px;
    padding: 22px 12px;
    display: block;
}
.nav-bar li:after
{
    display: none;
}
.header-button {
   width: 113px;
    padding: 0;
    text-align: right;
    top: 14px;
    right: 5px;
}
.header-button a {
    padding: 10px;
}
.header-button a
    {
        font-size: 14px;
    }
.menu-icon button {
    font-size: 20px;
    position: relative;
}
.menu-icon i:before
{
    z-index: 999;
}
.header-logo img
{
    padding-left: 0;
}
    .top-search-list a
    {
        float: none;
    }
    .top-search-list
    {
        text-align: center;
    }
}
@media only screen and (max-width: 480px)

{
   .container
    {
        width: 100%;
        padding: 0;
    }
    .header-logo
    {
       width: 100%;
    text-align: center;
        
    }
     .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}
.menu-icon
{
    left: 10px;
    position: absolute;
}
.menu-icon button
{
    position: relative;
    display: none;
}
.menu-icon i:before
{
   
    content: "\f0c9";
    font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
      
}
.nav-bar ul li
{
    width: 100%;
    background-color: #f3f3f3;
    
    border-bottom: 1px solid #ccc;
}
.nav-bar li a {
    font-size: 17px;
    padding: 22px 12px;
    display: block;
}
.nav-bar li:after
{
    display: none;
}
.header-button {
    position: absolute;
}
.header-logo img
{
    padding-left: 0;
    height: 40px;
    padding-right: 40px;
    
}

.header-button a
    {
        font-size: 12px;
    }
.menu-icon button {
    font-size: 20px;
    position: relative;
}
.menu-icon i:before
{
    z-index: 999;
    left: 10px;
    top: 20px;
}
    .one-fourth.column, .four.columns {
        width:100%;
        float: left;
        padding: 0 25px;
        box-sizing: border-box;
    }
    #Footer .footer_copy .copyright
    {
        font-size: 13px;
    }
    #Footer a {
        font-size: 16px;
    }
    .inner-assessment-form-input-search
    {
        width: 100%;
    }
    .top-search-list a
    {
        float: none;
        margin: 10px 0;
        display: inline-block;
    }
    .top-search-list
    {
        text-align: center;
    }
    .dummy-name a:before
    {
            content: "";
    position: absolute;
    width: 29px;
    height: 30px;
    left: 0px;
    top: 17px;
    background-image: url(../css/images/dashboard.svg);
    background-repeat: no-repeat;

    }
    footer#Footer .column.one-fourth:nth-child(1) {
    width: 100% !important;
    /* float: left; */
}
footer#Footer .column.one-fourth:nth-child(2), footer#Footer .column.one-fourth:nth-child(3) {
    width: 100% !important;
}
}
