
header
{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px;  
}

#info
{
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-bottom: 25px;
}

a{
  color: #074E8C;
}

.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow
{
  min-height: 450px;
}

#wrapper
{
  text-align: center;
  width: 500px;
  margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.inner-assessment-form label.error {
    color: #ff0000;
    width: 100% !important;
    max-width: 100% !important;
    text-align: left !important;
}
.inner-assessment-form-input-search {
    width: 60%;
    float: right;
}
.inner-assessment-form-input-password .error {
    width: 100%;
}
label.error, .login-form span 
{
  color: #ff0000 !important;
font-size: 14px !important;
   font-family: robotoregular;
   padding-top: 0;
       min-height: 0 !important;
}
.alert.alert-danger ul {
    padding: 0;
    margin: 0;
}
.alert.alert-danger {
    color: #ff0500;
    background-color: #f6f6f6;
    border-color: #ff0029;
    text-align: left;
    margin-left:10px;
     margin-right:10px;
}
.alert.alert-danger ul li {
    color: red;
}
.inner-assessment-form-input {
    width: 75%;
    float: left;
}
.inner-assessment-form-input.inner-inner {
    width: 50%;
}
ul#autocomplete_search_result {
    margin: 0;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin: 0 10px;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.inner-login-form.notoppadineg, .inner-login-form.notoppadineg label {
    padding-top: 0;
    min-height: 0;
}
.inner-login-form.inner-inner.special label {
    min-height: 0;
    padding: 0;
}
.inner-login-form.inner-inner.special {
    padding: 15px 0;
}
.inner-login-form.inner-inner.special span {
    color: #044a9d;
    font-size: 14px;
}
.inner-login-form.notoppadineg2 label {
    min-height: 37px;
}
.inner-login-form.notoppadineg2 {
    padding-top: 0;
}