@font-face {
    font-family: 'robotoregular';
    src: url('../css/fonts/roboto-regular-webfont.eot');
    src: url('../css/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../css/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../css/fonts/roboto-medium-webfont.eot');
    src: url('../css/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto-medium-webfont.woff') format('woff'),
         url('../css/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../css/fonts/roboto-medium-webfont.eot');
    src: url('../css/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto-medium-webfont.woff') format('woff'),
         url('../css/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.alert.alert-danger {
    background-color: #f8f8f8;
    display: inline-block;
    padding: 10px;
    color: red;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #fdbcbc;
}
.alert.alert-danger ul li {
    color: red;
}

.alert.alert-danger ul {
    padding: 0;
    margin: 0;
    color: red;
}
body
{
    margin:0;
    font-family: robotoregular;
     font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
body *
{
    box-sizing: border-box;
}


/* next */
.main-body
{
	width: 100%;
     overflow:hidden;
}
.inner-main-body
{
	padding: 4% 3%;
	overflow:hidden;
    display: flex;
}
.dummy-name
{
	background-color: #0f0f15;
    width: 20%;
    padding: 40px 0 0 0;
   
    float: left;
}

.dummy-name img
{
width: 20px;
    height: 20px;
}
.dummy-name span {
position: relative;
}
.dummy-name h4
{
	text-align: center;
	color: #fff;
    font-size: 20px;
    font-family: robotomedium;
    margin: 0;
}
.dummy-name li
{
	padding-left: 10px;
}
.dummy-name li img {
    vertical-align: middle;
}
.dummy-name li a
{
	color: #cacaca;
    font-size: 18px;
    font-family: robotoregular;
    padding: 17px 17px 16px 40px;
    display: block;
    position: relative;

}
.dummy-name li a:hover
{
   color: #3663da;

}
.dummy-name a:before {
    content: "";
    position: absolute;
    width: 29px;
    height: 30px;
    left: 8px;
    top: 19px;
    background-image: url(../css/images/dashboard.svg);
    background-repeat: no-repeat;
}
.dummy-name .start-search:before {
    
    background-image: url(../css/images/search.svg);
}
.dummy-name .profile:before {
    
    background-image: url(../css/images/my-profile.svg);
}
.dummy-name .password:before {
    
    background-image: url(../css/images/password.svg);
}
.dummy-name .logout:before {
   
    background-image: url(../css/images/logout.svg);
}
.dummy-name li:first-child a {
    display: block;
    position: relative;
}
.dummy-name li:first-child a:hover {
    color: #fff;
}
.dummy-name ul
{
    padding: 0
}
.outer-search-list
{
padding: 0 2%;
    overflow: hidden;
    width: 80%;
    float: left;
    box-sizing: border-box;
}
.search:before
{
content: "\f002";	
font: normal normal normal 14px/1 FontAwesome;
}
.search-list
{
	width: 100%;
float: left;
border: 2px solid #f3f3f3;
}
.top-search-list li:last-child {
    float: right;
}
.top-search-list li {
    float: left;
}
.top-search-list ul li img {
    vertical-align: middle;
}
.top-search-list ul li a
{
position: relative;

}
.top-search-list ul li a:hover {
    color: #ccc;
}
.top-search-list ul li a:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 21px;
    left: 0;
    top: 5px;

    background-image: url(../css/images/dashboard-search.svg);
}
.top-search-list ul{
    width: 100%;
    overflow: hidden;
}


body .dataTables_wrapper .dataTables_filter input {
   margin-left: 0.5em;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 0;
}
   .dataTables_scroll {
    padding-top: 10px;
}
div#example_length select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    padding: 8px;
    outline: 0;
    width: 58px;

}
select::-ms-expand {
    display: none;
}

div#example_length label:after {
    content: "\f107";
    position: absolute;
    top: 30%;
    left: 50%;
    font: normal normal normal 14px/1 FontAwesome;
    cursor: pointer;
    pointer-events: none;
}
div#example_length label {
    font-size: 16px;
    font-family: robotoregular;
    position: relative;
}
div#example_paginate span a:hover {
    background-color: #ccc;
}
.top-search-list ul li a {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-family: robotoregular;
        padding: 0 0px 0 30px;
}
.top-search-list
{
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    
}
.top-search-list ul li:first-child a {
    pointer-events: none;
    
}
.top-search-list ul li:first-child a:hover{
    color:#000!important;
    
}
.top-search-list ul {
    padding: 0;
}
/*.top-search-list li:last-child a {
    color: #fff;
    font-size: 15px;
    padding: 0 12px;
    font-family: robotomedium;
}*/
.top-search-list ul li:last-child a:before
{
    display: none;
}
/*.top-search-list li:last-child {
    background-color: #3663da;
    padding: 10px;

}*/
input[type="search"] {
  padding: 7px 15px;
    border: 1px solid #ccc;
    outline: 0;
    max-width: 193px;
    }
.table-search-list
{
	width: 100%;
}
.inner-table
{
	padding: 40px;
}

.dataTable td
{
	font-size: 14px;
    font-family: robotoregular;
    border:1px solid #f3f3f3;

}
div#example_filter input[type="search"] {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}
table#example th {
  
    background-color: #f3f3f3;
    font-size: 14px;
    font-family: robotoregular;

}
.dataTable th{
    padding: 10px 0;
    border-bottom: 0;
    border:1px solid #f3f3f3;
}

.inner-table {
   padding: 4% 3%;
}   
.as-a-member {
    padding-top: 35px;
}

.as-a-member h4
{
margin-bottom: 0;
color: #0f0f15;
font-size: 17px;
font-family: robotomedium;
}
.as-a-member ul
{
    padding:4px;
}
ul.inner-list {
    padding: 8px 25px;
}
ul.second-inner-list {
    padding: 8px 25px;
}


.as-a-member li
{
    font-size: 14px;
    position: relative;
    padding-left: 15px;
    font-family: robotoregular;
    line-height: 2;
}
.as-a-member li:before
{
    content: "\f111";
    font: normal normal normal 7px/1 FontAwesome;
    position: absolute;
    color: #3663da;
    left: 0;
    top: 10px;
}
.dummy-name li:first-child {
    background-color: #3663da;
    padding-top: 0;
}

.inner-table table.dataTable thead th
{
    border-bottom: 1px solid #f3f3f3;
    background-color: #ebebeb;
    text-align: left;

}
.inner-table table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd
{
 background-color: #ffffff;
}
.inner-table table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even
{
 background-color: #f9f9f9;
}
 div#example_info {
    font-family: robotoregular;
    font-size: 15px;
}

a#example_previous:before {
    font: normal normal normal 13px/1 FontAwesome;
    content: "\f104";
    padding: 10px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
a#example_next:after {
    font: normal normal normal 13px/1 FontAwesome;
    content: "\f105";
    padding: 10px;
    display: inline-block;
    background-color: #3663da;
    color: #fff;
    cursor: pointer;
}
a.paginate_button.current {
    font-size: 12px;
}
a.paginate_button {
    font-size: 12px;
}


body a#example_previous {
    font-size: 0;
}
body a#example_next {
    font-size: 0;
}
a#example_next {
    padding: 0;
  
}
div#example_paginate a {
    background: #fff;
}
div#example_paginate span a {
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 0;
}
body table.dataTable.no-footer {
     border-bottom: 0;
     padding-top: 0;
}
body table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
body table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #ffff;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #fff !important;
}
td.view-button {
    text-align: center;
}
td.view-button a {
    background: #2663da;
    padding: 6px;
    text-align: center;
    color: #fff;
    font-family: robotoregular;
}

td.view-button a:hover {
    opacity: 0.7;
}
.alert.alert-success {
    color: #ff0500;
    background-color: #f6f6f6;
    border: 1px solid #ff0029;
    text-align: left;
    border-radius: 6px;
    padding: 7px;
    display: block;
    margin-bottom: 20px;
}
/*responsive*/
@media only screen and (max-width: 1199px)
{
    
       .dummy-name li a
       {
        padding-left: 28px;
        font-size: 15px;
       }
      
.dummy-name a:before
{
content: "";
    position: absolute;
    width: 29px;
    height: 30px;
    left: 0;
    top: 16px;
    background-image: url(../css/images/dashboard.svg);
    background-repeat: no-repeat
}
    #Footer .widgets_wrapper
    {
        padding: 50px 15px;
    }
   
}
@media only screen and (max-width: 991px)
{
    
    .dummy-name li a
     {
 
    padding-left: 30px;
     font-size: 15px;  
}
.dummy-name li {
    padding-left: 30px;
}


.inner-main-body
{
    display: block;
}
.dummy-name
{
    width: 100%;
}
.outer-search-list
{
    width: 100%;
}

}

@media only screen and (max-width: 767px)
{
    
div#example_paginate 
{
    text-align: right;
}
.top-search-list ul {
    padding: 0;
    text-align: center;
}
.top-search-list li {
    float: none;
}
.top-search-list li:last-child {
    float: none;
}
.top-search-list ul li a {
    position: relative;
    float: none;
    display: inline-block;
}
.top-search-list li:last-child {
    cursor: pointer;
    margin: 10px 0;
}
}

@media only screen and (max-width: 480px)
{
   


div#example_paginate {
    text-align: right;
}

}