@font-face {
    font-family: 'robotoregular';
    src: url('../css/fonts/roboto-regular-webfont.eot');
    src: url('../css/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../css/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../css/fonts/roboto-medium-webfont.eot');
    src: url('../css/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto-medium-webfont.woff') format('woff'),
         url('../css/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../css/fonts/roboto-medium-webfont.eot');
    src: url('../css/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/roboto-medium-webfont.woff') format('woff'),
         url('../css/fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../css/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

::placeholder {
    color: #959595;
    opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #959595;
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #959595;
    opacity: 0.5;
}
body
{
    margin:0;
    font-family: robotoregular;
}
body *
{
    box-sizing: border-box;
}
.inner-assessment-form.inner-inner.inner-inner-inner input[type="password"] {
    width: 50%;
    padding: 8px;
    outline: 0;
}
#Action_bar, .header-fixed #Action_bar, .header-plain #Action_bar, .header-split #Action_bar,
 .header-stack #Action_bar
 {
 	background-color: #0c0d15;
 }
 .container
 {
 	    max-width:1230px;
        margin: 0 auto;
       position: relative;
 }
 #Action_bar {
    
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    line-height: 21px;
}
 #Action_bar .column
 {
 	margin-bottom: 0;
    overflow: hidden;
 }
 #Action_bar .contact_details
 {
 	color: #bbbbbb;
 	float: left;
 	margin: 0;
 }
 #Action_bar .contact_details li a:hover {
    color: #ccc;
    text-decoration: underline;
}
 .action-bar li a:hover 
 {
    text-decoration: underline;
}
 ul {
    list-style: none outside;
}
#Action_bar .contact_details li
{
	display: inline-block;
    margin-right: 10px;
    padding: 12px 0;
    font-size: 18px;
    font-family: robotoregular;
}
#Action_bar li {
    color: #ffffff!important;
}
#Action_bar .contact_details li:last-child {
    margin-right: 0;
}
#Action_bar .contact_details a {
    color: #ffffff;
    font-size: 18px;
    font-family: robotoregular;
}
a, a:visited, a:focus {
    text-decoration: none;
    outline: 0;
}
#Action_bar .contact_details li > i {
    margin-right: 2px;
}
.icon-phone:before {
    content: '\e8f4';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.icon-mail-line:before {
    content: '\e8d1';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
/*next */

/*#Top_bar #logo img {
    vertical-align: middle;
    max-height: 100%;
}
#Top_bar .top_bar_left {
    position: relative;
    float: left;
 
    margin-left: 40px;
}
#Top_bar .logo {
    float: left;
   margin: 0 0 0 20px;
            width: 18%;

}
#Top_bar #logo img {
    vertical-align: middle;
    max-height: 100%;
}
#Top_bar #logo {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 15px 0;
}
#Top_bar .menu_wrapper {
    float: left;
    z-index: 201;
    padding-right: 45px;
   width: 53%;
    
}

#Top_bar #menu {
    z-index: 201;
}
#Top_bar .menu > li {
    margin: 0;
    z-index: 203;
    display: block;
    float: left;
    
}
#Top_bar .menu > li > a {
    padding: 15px 0;
    font-size: 18px;
    font-family: robotoregular;
    position: relative;

}
#Top_bar .menu > li > a span:not(.description) {
    display: block;
    line-height: 60px;
    padding: 0 20px;
    white-space: nowrap;
        border-right: 1px solid #f2f2f2;
        position: relative;
}
#Top_bar .menu li a span:after {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
   
    z-index: 203;
    background-color: #3663da;
    bottom: 0;

    
}
#Top_bar .secondary_menu_wrapper {
    display: none;
}
#Top_bar .banner_wrapper {
    display: none;
}
#Top_bar .top_bar_right {
 
    height: 90px;
    position: relative;
    top: -4px;
    padding: 0 10px 0 20px;
}
#Top_bar .menu > li > a span {
    border-color: rgba(0,0,0,.05);
}
#Top_bar .top_bar_right_wrapper {
    position: relative;
    top: 25px;
}
#Top_bar .top_bar_right, .header-plain #Top_bar .top_bar_right {
    height: 90px;
}
#Top_bar a.button.action_button {
    top: -2px;
    margin: 0 10px 0 0;
    line-height: 21px;
   font-size: 18px;
}
a.button .button_label {
    padding: 11px 20px;
}
a.button .button_label {
    display: block;
    float: left;
    position: relative;
    z-index: 2;
    color: #fff;
  
}
.button_label
{
	background-color: #3663da;
}*/
.one.column {
    width: 98%;
}
#Subheader {
    padding: 70px 0 70px;
    background-image: url("../css/images/how-it-works.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
#Subheader .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    color: #ffffff;
    margin-bottom: 0;
    margin: 0;
    float: left;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    left: 50%;
    font-size: 23px;
    font-family: robotoregular;

}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#Subheader:after {
    content: "";
    height: 3px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    z-index: 1;
}

/*next header*/
.top-header {
    width: 100%;
    

}

.header-logo {
    float: left;
    width: 36%;
    padding:10px 0;
}
.header-logo img {
    height: 60px;
    padding-left: 60px;
}
.nav-bar {
    width: 43%;
    float: left;
}
.nav-bar i
{
    display: none;
}
.nav-bar button
{
    display: none;
}
.nav-bar ul {
    margin:0;
    width: 100%;
    float: left;
}
.nav-bar li {
    display: inline-block;
    float: left;
}
.nav-bar li:after {
    content: "";
    position: absolute;
    height: 51px;
    background-color: #f3f3f3;
    width: 2px;
    top: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
 -webkit-transform: translate(-50%,-50%);
}
.nav-bar li a {
   display: inline-block;
    float: left;
    font-size: 16px;
    font-family: robotomedium;
    color: #243d92;
    padding: 32px 18px;
    font-weight: bold;
}
.nav-bar li a:hover {
    background-color: #f3f3f3;
    display: inline-block;
}
.menu-icon
{
    display: none;
}
.header-button {
    padding-top: 20px;
    width: 21%;
    float: left;
}
.header-button a {
    background-color: #3663da;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    font-family: robotoregular;
}


/* next */
.main-body
{
	width: 100%;
     overflow:hidden;
}
.inner-main-body
{
	padding: 4% 3%;
	overflow:hidden;
    display: flex;
}
.dummy-name
{
	background-color: #0f0f15;
    width: 20%;
    padding: 40px 0 0 0;
   
    float: left;
}

.dummy-name img
{
width: 20px;
    height: 20px;
}
.dummy-name span {
position: relative;
}
.dummy-name h4
{
	text-align: center;
	color: #fff;
    font-size: 20px;
    font-family: robotomedium;
    margin: 0;
}
.dummy-name li
{
	padding-left: 10px;
}
.dummy-name li img {
    vertical-align: middle;
}
.dummy-name li a
{
	color: #cacaca;
    font-size: 18px;
    font-family: robotoregular;
    padding: 17px 17px 16px 40px;
    display: block;
    position: relative;

}
.dummy-name li a:hover
{
   color: #3663da;

}
.dummy-name a:before {
    content: "";
    position: absolute;
    width: 29px;
    height: 30px;
    left: 8px;
    top: 19px;
    background-image: url(../css/images/dashboard.svg);
    background-repeat: no-repeat;
}
.dummy-name .start-search:before {
    
    background-image: url(../css/images/search.svg);
}
.dummy-name .profile:before {
    
    background-image: url(../css/images/my-profile.svg);
}
.dummy-name .password:before {
    
    background-image: url(../css/images/password.svg);
}
.dummy-name .logout:before {
   
    background-image: url(../css/images/logout.svg);
}
.dummy-name li:first-child a {
    display: block;
    position: relative;
}
.dummy-name ul
{
    padding: 0
}
.outer-search-list
{
padding: 0 2%;
    overflow: hidden;
    width: 80%;
    float: left;
    box-sizing: border-box;
}
.search:before
{
content: "\f002";	
font: normal normal normal 14px/1 FontAwesome;
}
.search-list
{
	width: 100%;
float: left;
border: 2px solid #f3f3f3;
}
.top-search-list a {
    float: right;
    background: #3663da;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.top-search-list a:hover {
    color: #ccc;
}

.top-search-list ul li img {
    vertical-align: middle;
}
.top-search-list ul li a
{
position: relative;

}
.top-search-list ul li a:hover {
    color: #ccc;
}
.top-search-list ul li a:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 21px;
    left: 0;
    top: 2px;

    background-image: url(../css/images/my-profile-search.svg);
}
.top-search-list ul{
    width: 100%;
    overflow: hidden;
}
.top-search-list li:last-child a:before {
    display: none;
}


body .dataTables_wrapper .dataTables_filter input {
   margin-left: 0.5em;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 20px;
}
   .dataTables_scroll {
    padding-top: 10px;
}
div#example_length select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    padding: 8px;
}
div#example_length label {
    font-size: 16px;
    font-family: robotoregular;
}
div#example_paginate span a:hover {
    background-color: #ccc;
}
.top-search-list ul li a {
    margin: 0;
    font-size: 15px;
    color: #333;
    font-family: robotoregular;
    padding: 0 8px;
}
.top-search-list
{
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    
}
.top-search-list ul li:first-child a {
    pointer-events: none;
}
select::-ms-expand {
    display: none;
}
.top-search-list ul {
    padding: 0;
}
.top-search-list li:last-child a {
    color: #fff;
}
.top-search-list li:last-child {
    background-color: #3663da;
    padding: 10px;

}
input[type="search"] {
  padding: 7px 15px;
    border: 1px solid #ccc;
    outline: 0;
    max-width: 193px;
    }
.table-search-list
{
	width: 100%;
}
.inner-table
{
	padding: 40px;
}

.dataTable td
{
	font-size: 12px;
    font-family: robotoregular;
    border:1px solid #f3f3f3;

}
table#example th {
  
    background-color: #f3f3f3;
    font-size: 14px;
    font-family: robotoregular;

}
.dataTable th{
    padding: 10px 0;
    border-bottom: 0;
    border:1px solid #f3f3f3;
}

.inner-table {
   padding: 4% 3%;
}   

.eye-icon:before
{
	content: "\f06e";
	font: normal normal normal 14px/1 FontAwesome;
}
.as-a-member h4
{
margin-bottom: 0;
color: #0f0f15;
font-size: 21px;
font-family: robotomedium;
}
.as-a-member ul
{
    padding:4px;
}
ul.inner-list {
    padding: 8px 25px;
}
ul.second-inner-list {
    padding: 8px 25px;
}


.as-a-member li
{
    font-size: 13px;
    position: relative;
    padding-left: 15px;
    font-family: robotoregular;
    line-height: 2;
}
.as-a-member li:before
{
    content: "\f111";
    font: normal normal normal 7px/1 FontAwesome;
    position: absolute;
    color: #3663da;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}
/*form*/
.my-profile-form {
    padding: 40px 30px;
    max-width: 800px;
}
.my-profile-form span {
    color: #ff0000;
}
.my-profile-form label {
    font-size: 18px;
    font-family: robotomedium;
    color: #575757;
}
.my-profile-form input[type="text"] {
    outline: 0;
}
.my-profile-form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 15px 0;
    border: 1px solid #bcbcbc;
    background-color: #f6f6f6;
    font-size: 14px;
}
.my-profile-form select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    padding: 12px;
    margin: 10px 0 15px 0;
    outline: 0;
    border: 1px solid #bcbcbc;
    position: relative;
    color: #bcbcbc;
    font-size: 14px;
}
.name-form {
    margin: 0 -15px;
}
.email{
    margin: 0 -15px;
}
.street {
    margin: 0 -15px;
}
.city {
    margin: 0 -15px;
}
.zip{
    margin: 0 -15px;
}
.email-form input[type="text"] {
    background-color: #dadada;
}
.first-name-form {
    width: 50%;
    float: left;
    padding: 0 15px;
}
.last-name-form {
    width: 50%;
    overflow: hidden;
     padding: 0 15px;
    }
    .email-form {
    width: 50%;
    float: left;
     padding: 0 15px;
}
.Phone-form {
    width: 50%;
    overflow: hidden;
     padding: 0 15px;
}
.street-form {
    width: 50%;
    float: left;
     padding: 0 15px;
}
.street-empty-form {
    width: 50%;
    overflow: hidden;
     padding: 0 15px;
}
.city-form {
    width: 50%;
    float: left;
     padding: 0 15px;
}
.state-form {
    width: 50%;
    overflow: hidden;
     padding: 0 15px;
}
.zip-form {
    width: 50%;
    float: left;
     padding: 0 15px;
}
.county-form {
    width: 50%;
    overflow: hidden;
     padding: 0 15px;
}
.submit-button {
    text-align: right;
    padding-top: 60px;
}
.submit-button a {
    display: inline-block;
    background-color: #3663da;
    padding: 10px 24px;
    color: #fff;
}
.search-address-form {
    width: 100%;
}
.dropdown 
{
    position: relative;
    
}

/*new*/
.inner-top-search-list li {
    display: inline-block;
    width: 17%;
    position: relative;
}
.inner-top-search-list li a {
   border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    font-family: robotomedium;
    background-color: #7a7a7a;
    color: #fff;
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.inner-top-search-list li::after {
    content: "";
    position: absolute;
    right: 0px;
    width: 100%;
      background-color: #aeaeae;
    top: 50%;
    left: 50%;
    height: 2px;
    z-index: -1;
   
}
.inner-top-search-list li:first-child::after
{
    background-color:#5c87f8; 
}
.inner-wrapper-top-search-list li::after {
   display: none;
}
.inner-top-search-list li:last-child:after
{
    display: none;
}
.inner-top-search-list li.active a{
    background-color: #5c87f8;   
}

.inner-top-search-list li:last-child a:after
{
    display: none;
}


.inner-top-search-list {
    width: 100%;
    overflow: hidden;
    text-align: center;
    
}
.inner-top-search-list ul
{padding:0;}
.inner-wrapper-top-search-list li {
   display: inline-block;
    width: 17%;
    font-size: 15px;
    font-family: robotoregular;
    vertical-align: top;
  
}
.inner-wrapper-top-search-list ul
{
    margin-top: 0;
}
.inner-wrapper-top-search-list {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.search-heading {
    width: 100%;
    padding: 0 30px;
}
.search-heading h4 {
        font-size: 18px;
    font-family: robotoregular;
    color: #3663da;
    padding-bottom: 15px;
    /* margin-bottom: 0; */
    border-bottom: 1px solid #d6d6d6;
}
    
}
.search-heading p {
    color: #3663da;
    font-family: robotoregular;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
}
.assessment-form {
    width: 100%;
   padding: 40px 30px 0;
    overflow: hidden;
   
}
.inner-wrapper-assessment-form {
    width: 82%;
    overflow: hidden;
    float: left;
    padding-right: 50px;
}
.inner-assessment-form {
   width: 100%;
    float: left;
    padding-bottom: 15px;
}
.inner-assessment-form label {
    width: 20%;
    float: left;
    font-size: 13px;
    font-family: robotomedium;
    padding-right: 10px;
    padding-top: 7px;
}
.inner-assessment-form-input
{
    width: 80%!important;
}
.inner-assessment-form span
{
    color: #ff0000;
}
.inner-assessment-form input[type="text"] {

   
    padding: 8px;
    font-size: 12px;
    color: #000;
    background-color: #fff;
    -webkit-appearance: none;
     -ms-appearance: none;
      -moz-appearance: none;
    border: 1px solid #bcbcbc;
    outline: 0;
    width: 100%;
    border-radius: 0;
}
.inner-assessment-form-input.inner-inner
{
    width: 60%!important;
}
.inner-assessment-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 1px solid #bcbcbc;
    border-radius: 0;
    width: 100%;
    padding: 8px;
    outline: 0;
    background-color: #fff;
    color: #000;
    font-size: 11px;
 
}
.inner-assessment-form .dropdown
{
    position: relative;
}

.inner-assessment-form .dropdown:before
{
  content: "\f107";
    position: absolute;
    top: 7px;
    right: 7px;
    font: normal normal normal 19px/1 FontAwesome;
    cursor: pointer;

}
.outer-wrapper-inner-assessment {
    clear: both;
    overflow: hidden;
}
.inner-assessment-form.inner-inner {
    width: 50%;

}
.inner-assessment-form.inner-inner label {
    width: 40%;
}
.inner-assessment-form.inner-inner input[type="text"]
{
    width: 100%;
}
.inner-assessment-form.inner-inner.inner-inner-inner label {
   text-align: right;
   max-width: 44%;
}
.inner-assessment-form.inner-inner select {
    width: 100%;
}
select.inner-inner-inner {
    width: 50%;
}
.dropdown
{
    position: relative;
}
.dropdown:after
{
    position: absolute;
}
.inner-wrapper-assessment {
    width: 18%;
    float: left;
}

.inner-assessment-form-input.inner-inner.special
{
    width: 60%;
}
.inner-wrapper-assessment img {
    max-width: 100%;
}
.special .dropdown {
    width: 48%;
    display: inline-block;
}
.inner-need-help {
    width: 85%;
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
}
.inner-need-help h4 {
    margin: 0;
    color: #243d92;
    font-size: 28px;
    font-family: robotoregular;
}
.inner-need-help p {
    font-size: 14px;
    font-family: robotoregular;
}
.inner-need-help li {
    padding-bottom: 25px;
    font-size: 14px;
    font-family: robotoregular;
    position: relative;
}
.inner-need-help li:before
{
   content: "";
    background-image: url(../css/images/blue-circle.jpg);
    position: absolute;
    width: 28px;
    background-repeat: no-repeat;
    height: 28px;
    left: -40px;
    top: 12px;
    vertical-align: middle;
}
.need-help-image {
    width: 15%;
    float: left;
}
.need-help-image img {
    width: 100px;
    padding-right: 8px;
}
.continue-button
{
    width: 100%;
    overflow: hidden;
    text-align: right;
    padding: 40px 22px 40px;
}
.continue-button a
{
display: inline-block;
    background-color: #3e6edf;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px;
}
.continue-button input[type="submit"]
{
    display: inline-block;
    background-color: #3e6edf;
    padding: 10px 15px;
    color: #fff;
    border: 1px solid;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 0;
    font-size: 16px;
}
/* footer*/
#Footer {
    background-color: #1f2033;
}
#Footer .widget_recent_entries ul li a {
    color: #c1cad7;
}
#Footer {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}
#Footer a:hover {
color: #ccc;
}
.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#Footer .widgets_wrapper {
    padding: 15px 0;
}
.section_wrapper, .container {
    max-width:1230px;
    margin: 0 auto;
    position: relative;
}
#Footer .widgets_wrapper .column {
    margin-bottom: 0;
}
.one-fourth.column, .four.columns {
    width: 23%;
}
.column, .columns {
    margin: 0 1% 0px;
}
.column, .columns {
    float: left;
    margin: 0 1% 40px;
}
#Footer .widgets_wrapper .widget {
    padding: 15px 0;
    margin-bottom: 0;
}
.widget:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}
.image_frame.no_border {
    border-width: 0;
}
.image_frame {
    border-color: #f8f8f8;
}
.image_frame, .wp-caption {
    display: block;
    margin: 0;
    border-width: 8px;
    border-style: solid;
    max-width: 100%;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.image_frame .image_wrapper, .wp-caption img, .icon_box .icon_wrapper:before {
    border-color: #e2e2e2;
}
.image_frame .image_wrapper {
    position: relative;
    overflow: hidden;
}
.image_frame .image_wrapper, .wp-caption img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .image_wrapper img:not(.ls-l) {
    position: relative;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.image_frame .image_wrapper img, .image_frame .image_wrapper .mask:after, .image_frame .image_wrapper .image_links {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
img.scale-with-grid, #Content img {
    max-width: 100%;
    height: auto;
}
hr.no_line {
    background: none;
    color: transparent;
}
hr {
    background-color: rgba(0,0,0,.08);
    color: rgba(0,0,0,.08);
}
hr, .hr_wide, .hr_zigzag, .hr_dots {
    margin: 0 auto 15px;
    clear: both;
}
hr {
    display: block;
    border: none;
    outline: none;
    height: 1px;
    width: 100%;
    margin: 0 auto 15px;
    clear: both;
}
.textwidget p {
    margin: 0 0 15px;
        color: #c1cad7;
}
.widget h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 15px;
        color: #ffffff;
}
.widget_archive ul li, .widget_nav_menu ul li {
    position: relative;
    list-style-type: square;
}
.textwidget i:hover {
    color: #ccc;
}
li {
    color: #333333;
}

#Footer a {
   color: #a0adc1;
    font-size: 18px;
    font-family: robotomedium;
}
.textwidget i {
    font-size: 24px;
}
.widget_archive ul li a, .widget_nav_menu ul li a {
    display: block;
    padding: 8px 0 9px 3px;
}

a {
    color: #243d92;
}
.widget_archive ul li:after, .widget_nav_menu ul li:after {
    content: "";
    display: block;
    width: 70px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    position: absolute;
    left: -30px;
    bottom: 0;
    border-color: rgba(255,255,255,.08);
}
.dummy-name li:nth-child(2) {
    background-color: #3663da;
    padding-top: 0;
}
.dummy-name li:nth-child(2) a:hover {
    color:#fff;
    
}
.widget_archive ul li a, .widget_nav_menu ul li a {
    display: block;
    padding: 8px 0 9px 3px;
}
.textwidget h6 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 22px 0
}
h5, h6 {
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
}
.textwidget p {
        margin: 0 0 15px;
    font-size: 24px;
    line-height: 34px;
    font-family: robotomedium;

}
.textwidget
{
  color: #ffffff;  
}
.textwidget ul {
    padding-left: 0;
}
em, i {
    font-style: italic;
}
.icon-facebook-circled:before {
    content: '\f30d';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "mfn-icons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: none!important;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.icon-gplus-circled:before {
    content: '\f059';
}
.icon-twitter-circled:before {
    content: '\f30a';
}
.icon-pinterest-circled:before {
    content: '\f313';
}
.icon-linkedin-circled:before {
    content: '\f319';
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.footer-copy-center #Footer .footer_copy {
    text-align: center;
}
#Footer .footer_copy {
    border-top: 1px solid rgba(255,255,255,.1);
}
#Footer .footer_copy .one {
    
    padding-top: 30px;
    min-height: 33px;
}
.one.column {
    width: 98%;
    margin: 0;
}
.column, .columns {
    margin: 0 1% 0px;
}
.column, .columns {
    float: left;
    margin: 0 1% 40px;
}
.footer-copy-center #Footer .footer_copy .copyright {
    float: none;
    margin: 0 0 10px;
}
#Footer .footer_copy .copyright {
  
       text-align: center;
       text-align: center;
    font-size: 22px;
    font-family: robotomedium;
}
#Footer .widgets_wrapper {
    padding: 50px 0;
}
#Footer, #Footer .widget_recent_entries ul li a {
    color: #c1cad7;
}
.footer-copy-center #Footer .footer_copy .social {
    float: none;
    margin: 0;
}
#Footer .footer_copy .social {
    float: right;
    margin-right: 20px;
}
 
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.inner-table table.dataTable thead th
{
    border-bottom: 1px solid #f3f3f3;

}
.inner-table table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd
{
 background-color: #ffffff;
}
.inner-table table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even
{
 background-color: #f9f9f9;
}
 div#example_info {
    font-family: robotoregular;
    font-size: 17px;
}

a#example_previous:before {
    font: normal normal normal 13px/1 FontAwesome;
    content: "\f104";
    padding: 10px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
a#example_next:after {
    font: normal normal normal 13px/1 FontAwesome;
    content: "\f105";
    padding: 10px;
    display: inline-block;
    background-color: #3663da;
    color: #fff;
    cursor: pointer;
}
a.paginate_button.current {
    font-size: 12px;
}
a.paginate_button {
    font-size: 12px;
}


body a#example_previous {
    font-size: 0;
}
body a#example_next {
    font-size: 0;
}
a#example_next {
    padding: 0;
  
}
div#example_paginate a {
    background: #fff;
}
div#example_paginate span a {
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 0;
}
body table.dataTable.no-footer {
     border-bottom: 0;
     padding-top: 0;
}
body table.dataTable.display tbody tr.odd {
    background-color: #fff;
}
body table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #ffff;
}
/*new*/
.inner-billing {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #ccc;
    padding-top: 50px;
}

/*responsive*/
@media only screen and (max-width: 1200px)
{
.inner-assessment-form.inner-inner label {
    width: 40%;
}
.inner-assessment-form.inner-inner input[type="text"] {
    width: 54%;
}
.inner-assessment-form.inner-inner.inner-inner-inner {
    width: 44%;
}
.inner-assessment-form.inner-inner.inner-inner-inner label {
    width: 46%;
    text-align: right;
}
.inner-assessment-form.inner-inner input[type="text"] {
    width: 54%;
}
}
@media only screen and (max-width: 1199px)
{
    
       .dummy-name li a
       {
        padding-left: 28px;
        font-size: 15px;
       }
      
.dummy-name a:before
{
content: "";
    position: absolute;
    width: 29px;
    height: 30px;
    left: 0;
    top: 16px;
    background-image: url(../css/images/dashboard.svg);
    background-repeat: no-repeat
}
   
    /* new*/
    .inner-assessment-form label
    {
        width: 40%;
        font-size: 12px;
    }
    .inner-need-help p
    {
        font-size: 12px;
    }
    .inner-need-help li
    {
        font-size: 12px;
    }
    .inner-wrapper-top-search-list li
    {
        font-size: 13px;
    }
    .inner-assessment-form input[type="text"]
    {
        font-size: 11px;
        width: 100% !important;
    }
    .inner-assessment-form-input
    {
        width: 74% !important;
    }
    .inner-assessment-form.inner-inner input[type="text"]
    {
        width: 100% !important; ;
    }
    /*new*/
    .inner-assessment-form label
    {
        width: 26%;
    }
    .inner-assessment-form select
    {
        width: 100%;
    }
    .inner-assessment-form input[type="text"]
    {
        width: 74%;
    }
    .inner-assessment-form.inner-inner {
    width: 64%;
}
.inner-assessment-form.inner-inner.inner-inner-inner {
    width: 36%;
}
select.inner-inner-inner {
    width: 54%;
}

   .inner-assessment-form-input.inner-inner.special {
    width: 54% !important;
} 
  .inner-assessment-form.inner-inner select {
    
    font-size: 9px;
} 
.inner-assessment-form-input.inner-inner.case {
    width: 54% !important;
}
}
@media only screen and (max-width: 1024px)
{
.inner-wrapper-top-search-list li
    {
        font-size: 12px;
    }
     .inner-need-help p
    {
        font-size: 11px;
    }
    .inner-need-help li
    {
        font-size: 11px;
    }
}
@media only screen and (max-width: 991px)
{
    
    .dummy-name li a
     {
 
    padding-left: 30px;
     font-size: 15px;  
}
.dummy-name li {
    padding-left: 30px;
}


.inner-main-body
{
    display: block;
}
.dummy-name
{
    width: 100%;
}
.outer-search-list
{
    width: 100%;
}

    .inner-assessment-form label
    {
        font-size: 11px;
    }
    .inner-need-help p
    {
        font-size: 11px;
    }
    .inner-need-help li
    {
        font-size: 11px;
    }
    .inner-top-search-list li a:after
    {
        width: 100px;
    }
.inner-assessment-form.inner-inner
{
    width: 100%;
}
.inner-assessment-form.inner-inner label
{
    width: 26%;
}
.inner-assessment-form.inner-inner.inner-inner-inner label
{
    width: 26%;
}
.inner-assessment-form.inner-inner.inner-inner-inner
{
    width: 100%;
    text-align: left;
}
.inner-assessment-form-input.inner-inner.special
{
    width: 74% !important;
}
.special .dropdown
{
    width: 100%;
}
.special .dropdown:first-child
{
    margin-bottom: 10px;
}

.inner-assessment-form-input.inner-inner.case
{
    width: 74% !important;
}
.inner-assessment-form.inner-inner.inner-inner-inner label {

    text-align: left;
}
}

@media only screen and (max-width: 767px)
{
     
div#example_paginate {
    text-align: right;
}
/*form*/
.first-name-form {
    width: 50%;
    float: left;
}
.last-name-form {
    width: 50%;
    overflow: hidden;
    }
    .email-form {
    width: 50%;
    float: left;
}
.Phone-form {
    width: 50%;
    overflow: hidden;
}
.street-form {
    width: 50%;
    float: left;
}
.street-empty-form {
    width: 50%;
    overflow: hidden;
}
.city-form {
    width: 50%;
    float: left;
}
.state-form {
    width: 50%;
    overflow: hidden;
}
.zip-form {
    width: 50%;
    float: left;
}
.county-form {
    width: 50%;
    overflow: hidden;
}
.search-address-form {
    width: 100%;
}
.search-address-form input.search-input {
    width: 100%;
}
/* new */
.inner-top-search-list ul
{
    padding: 0;
}
.inner-top-search-list li a:after
{
    width: 95px;
}
.inner-wrapper-top-search-list li
{
    font-size: 10px;
}
.inner-wrapper-assessment-form
{
    width: 100%;
}
.assessment-form
{
    width: 100%;
    padding:0 30px;
}
.inner-assessment-form label
{
    font-size: 12px;
}
.inner-wrapper-assessment
{
    /*width: 100%;
    padding-top: 20px;
    text-align: center;*/
    display: none;
}
.inner-assessment-form input[type="text"]
{
    font-size: 13px;

}
.inner-need-help
{
padding-left: 0;
}
.search-heading h4
{
    font-size: 17px;
}
.inner-need-help p
{
    font-size: 13px;
}
.inner-need-help li
{
    font-size: 13px;
}
.inner-need-help li:before
{
    top: 5px;
}
.continue-button
{
    text-align: center;
}


}
@media only screen and (max-width: 640px)
{
    .first-name-form {
    width: 100%;
    float: left;
}
.last-name-form {
    width: 100%;
    overflow: hidden;
    }
    .email-form {
    width: 100%;
    float: left;
}
.Phone-form {
    width: 100%;
    overflow: hidden;
}
.street-form {
    width: 100%;
    float: left;
}
.street-empty-form {
    width: 100%;
    overflow: hidden;
}
.city-form {
    width: 100%;
    float: left;
}
.state-form {
    width: 100%;
    overflow: hidden;
}
.zip-form {
    width: 100%;
    float: left;
}
.county-form {
    width: 100%;
    overflow: hidden;
}
.search-address-form {
    width: 100%;
}
.search-address-form input.search-input
{
    width: 100%;
}

/*new*/
.inner-wrapper-top-search-list li
{
    font-size: 10px;
}
.inner-top-search-list li a:after
{
    width: 70px;
}
.inner-assessment-form label
{
    font-size: 10px;
}
.continue-button
{
    text-align: center;
}
}

@media only screen and (max-width: 480px)
{
    
.top-search-list li:last-child {
     float: left;
}
.top-search-list li {
    float: left;
    padding-bottom: 10px;
}
div#example_paginate {
    text-align: right;
}
.first-name-form {
    width: 100%;
    float: left;
}
.last-name-form {
    width: 100%;
    overflow: hidden;
    }
    .email-form {
    width: 100%;
    float: left;
}
.Phone-form {
    width: 100%;
    overflow: hidden;
}
.street-form {
    width: 100%;
    float: left;
}
.street-empty-form {
    width: 100%;
    overflow: hidden;
}
.city-form {
    width: 100%;
    float: left;
}
.state-form {
    width: 100%;
    overflow: hidden;
}
.zip-form {
    width: 100%;
    float: left;
}
.county-form {
    width: 100%;
    overflow: hidden;
}
.search-address-form {
    width: 100%;
}
.search-address-form input.search-input
{
    width: 100%;
}
.my-profile-form input[type="text"]
{
    width: 100%;
}
.my-profile-form select
{
    width: 100%;
}
.inner-wrapper-assessment-form
{
    width: 100%;
    padding-right: 30px;
}
.search-heading h4
{
    font-size: 12px;
}
.inner-assessment-form label
{
    font-size: 11px;
}
.inner-assessment-form input[type="text"]
{
    font-size: 10px;
}
.inner-top-search-list ul
{
    padding:0;
}
.inner-top-search-list li
{
    width: 23%;
}
.inner-top-search-list li a:after
{
    width: 54px;
}
.inner-wrapper-assessment
{
    width: 100%;
    padding-top: 20px;
}
.inner-wrapper-top-search-list ul
{
    padding:0;
}
.inner-need-help ul
{
    margin: 0;
}
.inner-need-help h4
{
    margin: 0;
    font-size: 20px;
}
.inner-need-help
{
    width: 70%;
    padding-left: 0;
}
.inner-need-help p
{
    font-size: 9px;
}
.inner-need-help li
{
    font-size: 10px;
    padding-bottom: 8px;
}
.continue-button a
{
    font-size: 12px;
    padding: 8px 8px;
}
.inner-wrapper-top-search-list li
{
    font-size:10px;
}
.inner-assessment-form label
{
    width: 100%;
    font-size: 16px;
    padding-bottom: 10px;
}
.inner-assessment-form input[type="text"]
{
    float: left;
    width: 100%;
    font-size: 12px;
}
.inner-assessment-form select
{
    width: 100%;
}
.inner-assessment-form .dropdown i:before
{
    top: 38px;
}
.inner-wrapper-assessment-form
{
    padding-right: 0;
}
.inner-assessment-form.inner-inner
{
    width: 100%;
}
.inner-assessment-form.inner-inner label {
    width: 100%;
}
.inner-assessment-form.inner-inner input[type="text"] {
    width: 100%;
}
.inner-assessment-form.inner-inner.inner-inner-inner {
    width: 100%;
}
.inner-assessment-form.inner-inner.inner-inner-inner label {
    width: 100%;
text-align: left;
}
.inner-wrapper-assessment
{
    width: 100%;
    text-align: center;
}
.continue-button
{
    text-align: center;
}
.inner-assessment-form-input {
    width: 100%!important;
    float: left;
}
.inner-assessment-form-input.inner-inner.special {
    width: 100% !important;
}
.inner-assessment-form-input.inner-inner.case {
    width: 100% !important;
}
.inner-assessment-form .dropdown
{
    width: 100%;
    float: left;
    padding-bottom: 7px;
}
.inner-assessment-form .dropdown:before
{
    top: auto;
    bottom: 13px;
}
}