.top-image > img
{
  height: 100%;
  width: auto;
}

.min-height
{
  height:61px;
}
.last-table td {
    padding: 10px;
}
.last-table td:nth-child(2) {
    min-width: 120px;
}
.last-table td.red-color {
      color: #ff0000;
    }
.last-table tr:first-child td:first-child {
    border-bottom: 1px solid #000;
}

.last-table tr:first-child td:last-child {
    border-bottom: 1px solid #000;
}

.last-table tr:nth-child(5) td {
    background: yellow;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.download-report-wrapper {
      box-shadow: 0 0 7px #4c4c4c;
      box-sizing: border-box;
      padding: 30px;
    }
    .table-wrapper {
      overflow-x: auto;
    }
    .common-style th {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 5px;
        border-bottom: 1px solid #000;
        text-align: left;
    }
    .inner-table {
      border: 1px solid #000;
    }
    .inner-table td {
      border-bottom: 1px solid #000;
      padding: 10px 5px;
    }
    .inner-table td:first-child {
      border-right: 1px solid #000;
    }
    .inner-table.common-style td.right-border{
        border-right: 0;
    }
    .inner-table.left-table {
      border-right: 0;
    }
    .inner-table tr:last-of-type td {
      border-bottom: 0;
    }
    .common-style td.blank {
      background-color: #D1D2D3;
    }
    .inner-table td.red-color {
      color: #ff0000;
    }
    .inner-table td.red-color span {
      display: inline-block;
      padding-right: 20px;
    }
    .inner-table td .td-sm-table td {
      padding: 0 5px;
      border: 0;
      width: 33%;
    }
    .inner-table td .td-sm-table td.border-lr {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 0 5px;
    }
    .parent-table .v-align{vertical-align: top;}
    .bottom-row td {
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 10px 5px;
    }
    .bottom-table{width: 100%;}